.footer {
	@include thmbg(0.1);
	background-attachment: fixed;
	background-attachment: scroll;
	background-size: cover;

	a:hover {
		text-decoration: none;
	}

	.btn-custom {
		padding: 5px 15px;
	}
}

@media (max-width: 767px) {
	.list-group {
		padding-bottom: 10px;
	}
}
