@mixin transition($duration, $timing-func) {
	-webkit-transition: $duration $timing-func all;
	-moz-transition: $duration $timing-func all;
	transition: $duration $timing-func all;
}

@mixin scale($size) {
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	transform: scale($size);
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin menubg($o) {
	background-color: rgba(99, 99, 99, $o);
}

$bg: #636363;
$size: 5em;
$time: 350ms;
$degree: 135deg;
$timing: ease;

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#toggle {
	position: fixed;
	z-index: 3;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 2%;
	cursor: pointer;
	background-color: $white;
	border-radius: 50px;
	display: flex;
	transform: translateY(-50%);

	span {
		display: block;
		width: 50%;
		height: $size / 25;
		margin: auto;
		background: $thm;
		@include transition($time, $timing);

		&:before,
		&:after {
			content: " ";
			position: absolute;
			width: 50%;
			align-content: center;
			align-items: center;
			height: $size / 25;
			background: $thm;
			@include transition($time, $timing);
		}

		&:before {
			margin: -0.4em 0 0 0;
		}

		&:after {
			margin: 0.4em 0 0 0;
		}
	}

	&.open {
		span {
			background-color: transparent;

			&:before,
			&:after {
				margin: 0;
				background: $thm;
			}

			&:before {
				@include rotate($degree);
			}

			&:after {
				@include rotate(-$degree);
			}
		}
	}
}

#menu {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	@include whitebg(.9);
	@include scale(1.5);
	@include transition($time, $timing);

	&.opened {
		visibility: visible;
		opacity: 1;
		@include scale(1);
		@include transition($time, $timing);
		display: flex;
	}

	span {
		&#title {
			display: block;
			line-height: $size / 5;
			margin: 0 0 $size / 10 0;
			font-size: $size;
			color: $thm;
		}
	}

	ul {
		list-style: none;
		margin: auto;

		.one {
			position: relative;
			text-align: center;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-transform: translate3d(0, 0, 0);
			/* Solves Safari bug because of SVG clipping mask */
		}

		.link {
			outline: none;
			text-decoration: none;
			position: relative;
			font-size: 2em;
			line-height: 2;
			color: #9e9ba4;

		}

		.link--mallki {
			font-weight: 500;
			color: $thm2;
			-webkit-transition: color 0.5s 0.25s;
			transition: color 0.5s 0.25s;
			overflow: hidden;
		}

		.link--mallki:hover {
			-webkit-transition: none;
			transition: none;
			color: transparent;
		}

		.link--mallki::before {
			content: '';
			width: 100%;
			height: 3px;
			margin: -3px 0 0 0;
			background: $thm;
			position: absolute;
			left: 0;
			top: 50%;
			-webkit-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
			-webkit-transition: -webkit-transform 0.4s;
			transition: transform 0.4s;
			-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}

		.link--mallki:hover::before {
			-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
		}

		.link--mallki span {
			position: absolute;
			height: 50%;
			width: 100%;
			left: 0;
			top: 0;
			overflow: hidden;
		}

		.link--mallki span::before {
			content: attr(data-letters);
			color: red;
			position: absolute;
			left: 0;
			width: 100%;
			color: $thm;
			-webkit-transition: -webkit-transform 0.5s;
			transition: transform 0.5s;
		}

		.link--mallki span:nth-child(2) {
			top: 50%;
		}

		.link--mallki span:first-child::before {
			top: 0;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}

		.link--mallki span:nth-child(2)::before {
			bottom: 0;
			-webkit-transform: translate3d(0, -100%, 0);
			transform: translate3d(0, -100%, 0);
		}

		.link--mallki:hover span::before {
			-webkit-transition-delay: 0.3s;
			transition-delay: 0.3s;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}

		.container_custom {
			display: flex;
		}

		.nav {
			margin: auto;
		}
	}
}
