.contact_wrapper,
.footer {
	.form-control {
		background-color: rgba(102, 102, 102, .1);
		padding: 2rem 1.75rem;
		border-radius: 0;
		border: 0px;
		color: #636363;
	}
}

.footer {
	.form-control {
		display: inline-block;
		padding: 5px 15px;
		width: 70%;
		@include whitebg(.8);
	}

	.input-1,
	.input-2 {
		display: inline-block;
		height: 100%;
		margin: 0;
		padding: 0;
		float: left;
		-webkit-box-sizing: border-box;
		/* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;
		/* Firefox, other Gecko */
		box-sizing: border-box;
		/* Opera/IE 8+ */
	}

	.input-1 {
		width: 70%;
	}

	.input-2 {
		width: 30%;
	}

	.input-box {
		width: 100%;
	}
}

.custom-selectform {
	position: relative;
}

.custom-selectform select {
	display: none;
	/*hide original SELECT element:*/
}

.select-selected {
	background-color: rgba(102, 102, 102, 0.1);
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
	color: #636363;
	padding: 14px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: $thm;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;

	div {
		color: $white;
	}
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
