#recent_projects,
#projects,
#project_logo,
#mob_apps {
	.item {
		.screen {
			position: relative;
			width: 321px;
			height: 269px;
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: auto;
			margin-right: auto;

			img {
				margin-left: 18px;
				margin-top: 16px;
			}
		}
	}
}

#project_logo {
	.item {
		.screen {
			img {
				margin-left: 30px !important;
				margin-top: 30px !important;
			}
		}
	}
}

#mob_apps {
	.item {
		.screen {
			width: 290px;
			height: 400px;

			img {
				margin-left: 57px !important;
				margin-top: 43px !important;
				width: 177px !important;
			}
		}
	}
}

#newsletter {
	.item {
		.screen {
			position: relative;
			width: 100%;
			height: 390px;
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: auto;
			margin-right: auto;

			img {
				margin-left: 0 !important;
				margin-top: 0 !important;
				width: 70%;
				bottom: 7px;
				position: absolute;
				right: 50px;
			}


		}

		.screen1 {
			width: 100%;
			height: 260px;
			background-repeat: no-repeat;
			background-size: contain;
			bottom: 0;
			position: absolute;
		}
	}
}

@media (max-width: 767px) {
	#newsletter .item .screen img {
		bottom: 65px !important;
	}

	#project_logo .item,
	#projects .item {
		h5 {
			margin-top: 0 !important;
		}

		.screen {
			width: 270px;
		}
	}

	#project_logo .item .screen img {
		margin-left: 25px !important;
		margin-top: 25px !important;
		width: 82%;
	}

	#projects .item .screen img {
		margin-left: 15px !important;
		margin-top: 13px !important;
		width: 89%;
	}
}
