.our_services_wrapper {
	.item {
		box-shadow: 0 0 75px rgba(0, 0, 0, 0.1);
		border-radius: 10px;

		.btn-circle {
			width: 40px !important;
			height: 40px !important;
		}

		.btn-circle:hover {
			background-color: $thm;
		}
	}

	.ico {
		background-color: transparent;
		perspective: 1000px;
		width: 100%;
		height: 90px;
	}

	.ico_inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	&:hover .ico_inner {
		transform: rotateY(180deg);
	}

	.icof,
	.icob {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	.icob {
		transform: rotateY(180deg);
	}
}
