@mixin thmbg($o) {
	background-color: rgba(0, 150, 190, $o);
}

@mixin thm($o) {
	color: rgba(0, 150, 190, $o);
}

@mixin whitebg($o) {
	background-color: rgba(255, 255, 255, $o);
}

$custom_colors: (thm: #0096bf,
pista: #0acc8a,
crimpson: #ff5252,
yello: #efa007,
vilet: #a453f9,
rose: #ee2053,
oliv: #7a890e);

@each $name,
$code in $custom_colors {
	.#{$name}_bg {
		background-color: #{$code}
	}

	.#{$name} {
		color: #{$code}
	}
}
